ClienteWebService/src/META-INF/wsdl/localhost_8080/HolaMundoWebservice/HolaMundoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.holamundows.pucmm.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.holamundows.pucmm.edu/" name="HolaMundoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.holamundows.pucmm.edu/" schemaLocation="http://localhost:8080/HolaMundoWebservice/HolaMundoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="getFechaServidor">
<part name="parameters" element="tns:getFechaServidor"/>
</message>
<message name="getFechaServidorResponse">
<part name="parameters" element="tns:getFechaServidorResponse"/>
</message>
<message name="holamundo">
<part name="parameters" element="tns:holamundo"/>
</message>
<message name="holamundoResponse">
<part name="parameters" element="tns:holamundoResponse"/>
</message>
<portType name="HolaMundoWS">
<operation name="suma">
<input wsam:Action="http://ws.holamundows.pucmm.edu/HolaMundoWS/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://ws.holamundows.pucmm.edu/HolaMundoWS/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="getFechaServidor">
<input wsam:Action="http://ws.holamundows.pucmm.edu/HolaMundoWS/getFechaServidorRequest" message="tns:getFechaServidor"/>
<output wsam:Action="http://ws.holamundows.pucmm.edu/HolaMundoWS/getFechaServidorResponse" message="tns:getFechaServidorResponse"/>
</operation>
<operation name="holamundo">
<input wsam:Action="http://ws.holamundows.pucmm.edu/HolaMundoWS/holamundoRequest" message="tns:holamundo"/>
<output wsam:Action="http://ws.holamundows.pucmm.edu/HolaMundoWS/holamundoResponse" message="tns:holamundoResponse"/>
</operation>
</portType>
<binding name="HolaMundoWSPortBinding" type="tns:HolaMundoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaServidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="holamundo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolaMundoWS">
<port name="HolaMundoWSPort" binding="tns:HolaMundoWSPortBinding">
<soap:address location="http://localhost:8080/HolaMundoWebservice/HolaMundoWS"/>
</port>
</service>
</definitions>